#What is pandas?

In [2]:
#Pandas helps clesan,analyze and manipulate data easily
#It based on numPy
#Pandas lets work with tables of data, just like Excel
#for meaningful result
#Main eleman of Pandas are series and dataframe object

# Import

In [3]:
import pandas as pd

#Creating series in pandas

In [4]:
my_data=['a','b','c','d']
my_data

['a', 'b', 'c', 'd']

In [5]:
# to create series ,we can usepd.series() function
pd.Series(my_data)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
my_country=["Turkiye","Germany","China","Sweden"]
my_country_years=[1923,1871,1949,1523]

In [7]:
pd.Series(data=my_country_years,index=my_country)

Turkiye    1923
Germany    1871
China      1949
Sweden     1523
dtype: int64

In [8]:
 # pd.Series() function can use dictionary: key=index, value=value

In [9]:
my_dict={
    "Turkiye":1923,
    "Germany":1871,
    "China":1949,
    "Sweden":1523
}

In [10]:
pd.Series(my_dict)

Turkiye    1923
Germany    1871
China      1949
Sweden     1523
dtype: int64

In [11]:
 #Example-1
 my_ex1={
     "Istanbul":15.4,
     "Izmir":4.3,
     "Ankara":5.6,
     "Bursa":3
 }
pd.Series(my_ex1)

Istanbul    15.4
Izmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [12]:
ex_city=["Istanbul","Izmir","Ankara","Bursa"]
ex_city_population=[15.4,4.3,5.6,3]
pd.Series(data=ex_city_population,index=ex_city)

Istanbul    15.4
Izmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

# Operations on series

In [13]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Japan': 100,'China': 500, 'India': 210,'USA': 260}

In [14]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Japan    100
China    500
India    210
USA      260
dtype: int64

In [18]:
sales_total=sales_q2+sales_q1
sales_total

Japan    180
China    950
India    410
USA      510
dtype: int64

In [19]:
sales_total.index #We can look .index attribute

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
sales_total.keys() #We can look also .keys() method too

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [21]:
sales_total.values #We can look .values attribute

array([180, 950, 410, 510])

In [22]:
sales_total

Japan    180
China    950
India    410
USA      510
dtype: int64

In [23]:
sales_total*2

Japan     360
China    1900
India     820
USA      1020
dtype: int64

In [24]:
sales_total/2

Japan     90.0
China    475.0
India    205.0
USA      255.0
dtype: float64

In [27]:
sales_q2-sales_q1

Japan    20
China    50
India    10
USA      10
dtype: int64

In [29]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brasil': 100,'China': 500, 'India': 210,'USA': 260}

In [30]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [32]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [33]:
sales_q2

Brasil    100
China     500
India     210
USA       260
dtype: int64

In [31]:
sales_q1+sales_q2

Brasil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [38]:
sales_q1.add(sales_q2,fill_value=0)

Brasil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [39]:
sales_q1.dtype

dtype('int64')

In [42]:
#Example-2
league_2020={
    'Fenerbahce':82,
    'Galatasaray':84,
    'Trabzonspor':71,
    'Besiktas':84
}
league_2021={
    'Fenerbahce':73,
    'Galatasaray':68,
    'Trabzonspor':81,
    'Besiktas':59
}
league_2022={
    'Fenerbahce':51,
    'Galatasaray':60,
    'Trabzonspor':48,
    'Besiktas':41
}

In [43]:
league_2020_series=pd.Series(league_2020)
league_2021_series=pd.Series(league_2021)
league_2022_series=pd.Series(league_2022)

In [45]:
league_total=league_2020_series+league_2021_series+league_2022_series
league_total

Fenerbahce     206
Galatasaray    212
Trabzonspor    200
Besiktas       184
dtype: int64

# Conditional Filtering

In [52]:
series=pd.Series([10,20,30,40,50,60,70,80,90,100])
series[series>=38] #One condition

3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [54]:
series[(series<87)&(series>23)] #Multi conditions

2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [55]:
series[(series<87)|(series>23)]

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [56]:
s = pd.Series(['emir', 'ahmet', 'mehmet'])
s[s.str.contains('em')] #Contain anywhere

0    emir
dtype: object

In [57]:
s[s.str.startswith('a')]

1    ahmet
dtype: object